<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual PE Coach: Bicep Curl Pose Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="background-video">
        <video src="../static/assets/video.mp4" autoplay loop muted></video>
    </div>
    <h1>Virtual PE Coach: Bicep Curl Pose Detection</h1>
    <div class="container">
        <div class="name-container">
            <input type="text" class="name-input" placeholder="Enter your name">
            <button class="save-name-button">Save Name</button>
        </div>
        <div class="exercise-buttons">
            <button class="start-curls-button">Start Bicep Curls</button>
        </div>
        <div id="result-container">
            <p class="name-placeholder"></p>
            <div class="counter-display" style="display: none;"></div>
            <p class="feedback-placeholder"></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/script.js"></script>
</body>

</html>