<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Virtual PE Trainer: Interactive Pose Detection for Physical Education</h1>
    
    <button id="start-btn-bicep-curls" onclick="startBicepCurls()">Start Bicep Curls</button>
    <button id="start-btn-squats" onclick="startSquats()">Start Squats</button>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="../static/script.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        function startBicepCurls() {
            socket.emit('start_bicep_curls');
        }

        function startSquats() {
            socket.emit('start_squats');
        }
    </script>
</body>
</html>